:root {
	--black: #1e1d1c;
	--dark-gray: #424141;
	--gray: #b7b7b7;
	--white: #f1ecd1;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	:root {
		--white: #1e1d1c;
		--gray: #424141;
		--dark-gray: #b7b7b7;
		--black: #f1ecd1;
	}
	html {
		color-scheme: dark;
	}
}
